
  :root {
    --ice-cold1:#a3fff0;
      --ice-cold2:#95f8f4;
      --ice-cold3:#8ef3f6;
      --ice-cold4:#8de9f6;
      --ice-cold5:#91d9f5;
      --ice-cold6:#99c0f4;
      --ice-cold7:#a1a3f5;
      --ice-cold8:#a686f6;
      --ice-cold9:#a471f9;
      --ice-cold10:#a15ffc;
      --ice-cold11:#9d4dff;
      
   }
  